<!-- IMPORT DE LA POLICE ORBITRON -->
<link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800&display=swap" rel="stylesheet">

<body style="font-family: 'Orbitron', sans-serif; background-color: #f0f0f0; color: #000; display: flex; flex-direction: column; min-height: 100vh; margin:0;">

  <!-- BANNIERE WELCOME + BUDGET -->
  <div class="welcome-banner">
    <div class="welcome-text">
      <h2>Welcome {{ chefConnecte?.nom }} </h2>
    </div>
    <div class="budget">
      Budget Actuel : {{ monAgence.budget }} Crédits
    </div>
  </div>

  <!-- DASHBOARD -->
  <div class="dashboard-container">

    <!-- COLONNE GAUCHE : MISSIONS DISPO -->
    <div class="col-left">
      <div class="card grey-card">
        <h3 class="card-title">Missions disponibles</h3>
        <ul class="clean-list" *ngFor="let mission of missions">
          <li *ngIf="mission.statut === 'Disponible'">
            Mission {{ mission.id }} - {{ mission.description }} - {{ mission.creditMission }}
          </li>
        </ul>
      </div>
    </div>

    <!-- COLONNE CENTRE : RECRUTER HÉROS -->
    <div class="col-center">
      <div class="card grey-card">
        <div class="recrutement-header">
          Recruter un héros
        </div>
        <div class="top-heros-list">
          <h4 class="sub-title">Héros disponibles</h4>
          <ol class="numbered-list" *ngFor="let hero of herosDisponibles">
            <li *ngIf="hero.agenceId == null">
              {{ hero.nom }} - Cout de creation : {{ hero.coutCreation }}
              <button (click)="recruterHero(hero)">Recruter</button>
            </li>
          </ol>
        </div>
      </div>
    </div>

    <!-- COLONNE DROITE : MISSIONS EN COURS -->
    <div class="col-right">
      <div class="grey-sidebar">
        <h3 class="sidebar-title">Missions en cours</h3>
        <ul class="clean-list" *ngFor="let mission of missions">
          <li>Mission {{ mission.id }} - {{ mission.description }}</li>
        </ul>
      </div>
    </div>

  </div> <!-- FIN dashboard-container -->

  <!-- FOOTER -->
  <footer class="site-footer">
    © 2025 Vought International. L'Agence de Super-Héros numéro 1
  </footer>

</body>