.bar { (pour personnaliser une balise que tu appelle 'bar')
    background-color: #333;
}

button {
    background-color: #4CAF50; /* Vert */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

button:hover { (quand tu passe la souris dessus)
    background-color: #252e25; /* Vert plus foncé au survol */
}
