/* =========================================
   CONTENEUR PRINCIPAL
   ========================================= */
.main-container {
  display: flex;            /* Active Flexbox */
  width: 100%;              /* Prend toute la largeur de l'écran */
  min-height: 90vh;         
  background-color: #ffffff;
  padding: 40px;            /* Un peu de marge autour pour ne pas coller aux bords */
  gap: 20px;                /* Espace entre les colonnes */
    
}

/* =========================================
   COLONNE GAUCHE (Ratio 1/4)
   ========================================= */
.colonne_gauche {
  flex: 1;                  /* 1 part du gâteau */
  padding-top: 100px;
  min-width: 200px;         
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  
  /* Juste pour voir la zone */
  /* background-color: #f9f9f9; */
  /* border-radius: 8px; */
}

.graph-circle {
  width: 120px;
  height: 120px;
  background-color: #d9d9d9;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: bold;
  font-size: 14px;
  color: #333;
}

/* =========================================
   COLONNE CENTRE (Ratio 2/4)
   ========================================= */
.colonne_centre {
  flex: 2;                  /* 2 parts du gâteau (Le double des autres) */
  
  display: flex;
  flex-direction: column;
}

.page-title {
  text-align: center;
  font-size: 24px;
  margin-bottom: 30px;
  font-weight: 500;
}

.liste-heros {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.hero-card {
  display: flex;
  gap: 15px;
  cursor: pointer;
  transition: transform 0.2s;
  
  &:hover {
    transform: translateX(5px);
  }
}

.hero-photo {
  width: 80px;      /* Taille fixe pour la photo */
  height: 80px;
  flex-shrink: 0;   /* Empêche la photo de s'écraser si l'écran est petit */
  background-color: #d9d9d9;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
}

.hero-infos {
  flex: 1;          /* Prend le reste de la largeur de la carte */
  background-color: #e6e6e6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 20px;
}

/* =========================================
   COLONNE DROITE (Ratio 1/4)
   ========================================= */
.colonne_droite {
  flex: 1;                  /* 1 part du gâteau */
  
  display: flex;
  flex-direction: column;
  /* align-items: flex-end; Si tu veux coller le bouton à droite */
}

.zone-action {
  width: 100%;
}

.btn-creer {
  width: 100%;
  padding: 20px;
  background-color: #d9d9d9;
  border: none;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.3s;
  
  &:hover {
    background-color: #c0c0c0;
  }
}