<!-- CONTENEUR GLOBAL -->
<div class="main-container">

  <!-- COLONNE GAUCHE -->
  <div class="colonne_gauche">

    <!-- Affiche les infos seulement si un héros est sélectionné -->
    <ng-container *ngIf="selectedHero as hero">
      <div class="hero-info-box">

        <div class="hero-photo-placeholder">
          Photo du héros
        </div>

        <p>Nom : {{ hero.prenom }} {{ hero.nom }}</p>
        <p>Alias : {{ hero.alias }}</p>
        <p>Popularité : {{ hero.popularite }}</p>
        <p>Santé : {{ hero.sante }}</p>
        <p>Salaire : {{ hero.salaire }} €</p>
        <p>Coût de création : {{ hero.coutCreation }}</p>
        <p>Expérience : {{ hero.experience }}</p>
        <p>Dégâts : {{ hero.degats }}</p>
        <p>Motivation : {{ hero.motivation }}</p>

      </div>
    </ng-container>

  </div> <!-- FIN colonne gauche -->

  <!-- COLONNE CENTRE -->
  <div class="colonne_centre">

    <h1 class="page-title">
      Liste des heros
      <span style="font-size: 14px; color: grey;">
        (Nombre de heros correspondant aux filtre(s) : {{ filteredHeros.length }})
      </span>
    </h1>

    <div class="hero-legende">
      <label class="legende-item">
        <input
          type="checkbox"
          class="legende-carre"
          [(ngModel)]="showAlpha"
          (ngModelChange)="updateFiltered()"
        />
        <span>Alpha</span>
      </label>

      <label class="legende-item">
        <input
          type="checkbox"
          class="legende-carre"
          [(ngModel)]="showBeta"
          (ngModelChange)="updateFiltered()"
        />
        <span>Beta</span>
      </label>

      <label class="legende-item">
        <input
          type="checkbox"
          class="legende-carre"
          [(ngModel)]="showOmega"
          (ngModelChange)="updateFiltered()"
        />
        <span>Omega</span>
      </label>
    </div>

    <div class="liste-heros">

      <div class="no-results" *ngIf="filteredHeros.length === 0">
        Aucune heros ne correspond aux critères sélectionnés.
      </div>

      <div
        class="hero-card"
        *ngFor="let hero of filteredHeros"
        (click)="selectHero(hero)"
      >
        <div class="hero-photo">
          Heros {{ hero.id }}
        </div>

        <div class="hero-infos">
          Nom : {{ hero.alias }}
          — Popularité : {{ hero.popularite }}
          - Salaire : {{ hero.salaire }} €
        </div>
      </div>

    </div>

  </div>

</div>
